/* App.css */
.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Board.css */
.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 5px;
  background-color: #3f3f3f;
  border: 2px solid #fff;
  margin: 10px;
  padding: 5px;
}

.board.player {
  border-color: #64ffda;
}

.board.pc {
  border-color: #ff1744;
}

.row {
  display: flex;
}

.square {
  width: 40px;
  height: 40px;
  background-color: #64ffda;
  border: 1px solid #fff;
}

.square.ship {
  background-color: #333;
}

.square.hit {
  background-color: #ff5252;
}

.square.miss {
  background-color: #607d8b;
}
