

.shipSelectorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid #00e6e6;
    border-radius: 10px;
    background-color: #1a1a1a;
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  
  .shipSelectorContainer h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: #222;
    border: 2px solid #00e6e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 230, 230, 0.8);
  }
  
  .col span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .position {
    width: 30px;
    height: 30px;
    margin: 1px;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 230, 230, 0.8);
    transition: background-color 0.3s ease;
  }
  
  .position:hover {
    background-color: #555;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 230, 230, 0.8);
  }
  
  .shipButtons {
    margin-top: 20px;
  }
  
  .shipButtons button {
    background-color: #00e6e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shipButtons button:hover {
    background-color: #00cccc;
    box-shadow: 0 0 10px rgba(0, 230, 230, 0.8);
  }
  